/* home.page.scss */
ion-content {
    --background: var(--ion-color-light);
  }
  .no-margin {
    margin-top: -16px; // Ajustez cette valeur selon vos besoins
  }
  app-activity-list,app-daily-progression{
    display: block;
  margin: 0;
  padding: 0;
  }
  ion-content {
    --background: #f5f9fc;
  }
  
  .glass-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 20px 0;
  }
  
  .glass {
    width: 50px;
    height: 70px;
    background: url('../../assets/icon/glassEmpty.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
  
    &-number {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 12px;
      color: var(--ion-color-medium);
    }
  
    &.filled {
      background: url('../../assets/icon/icons8-glass-48.png') no-repeat center;
      background-size: contain;
      transform: scale(1.1);
      filter: drop-shadow(0 0 8px rgba(var(--ion-color-primary-rgb), 0.7));
      
      .glass-number {
        color: var(--ion-color-primary);
        font-weight: bold;
      }
    }
  }
