<ion-content>
  <ion-card *ngFor="let nuser of NewUsers" class="user-card">
    <div class="profile-image-container">
      <img [src]="nuser.profileImage" [alt]="nuser.name">
    </div>

    <div class="card-content">
      <ion-card-header>
        <ion-card-title>{{ nuser.name }}</ion-card-title>
        <ion-card-subtitle>{{ nuser.role }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="action-container">
          <!-- Bouton Suivre -->
          <button class="action-button" (click)="toggleFollow(nuser)">
            <img
              [src]="getFollowImage(nuser)"
              [alt]="nuser.isFollowing ? 'Arrêter de suivre' : 'Suivre'"
              class="action-icon"
            >
          </button>

          <!-- Bouton Like -->
          <button class="action-button" (click)="toggleLike(nuser)">
            <img
              [src]="getLikeImage(nuser)"
              [alt]="nuser.isLiked ? 'Unlike' : 'Like'"
              class="action-icon"
            >
          </button>
        </div>
      </ion-card-content>
    </div>
  </ion-card>



</ion-content>
