.intput{
    font-size: 300;
    }
    ion-item{
        --background: #f0f0f0;
        border-radius: 10px;
        margin-bottom: 17px;
    }
    .header{
        margin-top: 100px;
        margin-bottom: 80px;
        text-align: center;
        .subtitle{
            font-size: 20px;
            color: #888;
        }
        .title{
            font-size: 2rem;
            font-weight: bold;
        }
    }

