

/* Core Ionic imports - Doivent venir après Tailwind */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional Ionic CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark mode - système préféré */
@import "@ionic/angular/css/palettes/dark.system.css";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
.ioncard{
    margin: 0;
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
  }